OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_INDEX=object-storage-index
GRPC_SEARCH_PORT=50052
# Optional: set if you have an external Go gateway
NEXT_PUBLIC_API_BASE=
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
